.main_container{
    width: 500px;
    height: 500px;
    border: 1px solid black;
    background-color: gray;
}
.header_container{
width: 150px;
height: 150px;
background-color: green;

}
#X_header_container{
    margin-bottom: 10px;
}
#heading_header_container{
    margin-top: 29px;
}